@use '../utils/variables' as *;

.section-second {
  display: flex;
  background-image: url('/src/assets/section-second/mobile-background.png');
  background-repeat: no-repeat;
  background-color: $color-white;
  height: 815px;
  padding: 80px 16px;
  border: 1px solid #e0e0e0;

  @include tablet {
    background-image: url('/src/assets/section-second/tablet-background.png');
    height: 1050px;
    padding: 140px 20px 100px;
  }

  @include desktop-sm {
    background-image: url('/src/assets/section-second/desktop-sm-background.png');
    height: 640px;
    padding: 140px 32px 100px;
  }

  @include desktop-md {
    background-image: url('/src/assets/section-second/desktop-md-background.png');
    height: 655px;
    justify-content: center;
  }

  @include desktop-lg {
    background-image: url('/src/assets/section-second/desktop-lg-background.png');
    height: 830px;
    padding: 140px 220px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: calc(1440px - 32px);
    width: 100%;
    align-items: center;
    height: 100%;

    @include desktop-sm {
      flex-direction: row;
      gap: 90px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;

    @include desktop-sm {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    color: $color-black;
    gap: 24px;
  }

  &__button-wrapper {
    display: flex;
    justify-self: center;
    gap: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    background-image: url('/src/assets/section-second/mobile-text-background.png');
    background-repeat: no-repeat;
    // background-position: 100% 150%;

    @include tablet {
      font-size: 54px;
      background-image: url('/src/assets/section-second/tablet-text-background.png');
    }

    @include desktop-sm {
      font-size: 64px;
      background-image: url('/src/assets/section-second/desktop-sm-text-background.png');
    }

    @include desktop-md {
      font-size: 72px;
      background-image: url('/src/assets/section-second/desktop-md-text-background.png');
    }

    @include desktop-lg {
      background-image: url('/src/assets/section-second/desktop-lg-text-background.png');
    }
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  &__image {
    max-width: fit-content;
  }

  .btn--primary {
    @include tablet {
      font-weight: 500;
      line-height: 100%;
      size: 16px;
      height: 60px;
    }

    @include desktop-sm {
      line-height: 24px;
      size: 18px;
      height: 65px;
    }
  }
}
