$color-blue: #4f9cf9;
$color-white: #ffffff;
$color-yellow: #ffe492;
$color-dark-blue: #043873;

$tablet: 768px;
$desktop-sm: 1152px;
$desktop-md: 1440px;
$desktop-lg: 1920px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop-sm {
  @media (min-width: #{$desktop-sm}) {
    @content;
  }
}
@mixin desktop-md {
  @media (min-width: #{$desktop-md}) {
    @content;
  }
}
@mixin desktop-lg {
  @media (min-width: #{$desktop-lg}) {
    @content;
  }
}
